

.seller-profile{
    background-color: #E4E4E4;
    min-height: 100vh;
}

.seller-profile-padding{
    padding: 4rem 3.125rem;
}

.seller-profile .profile-photo-card{
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-start ;
}

.seller-profile .profile-photo-card .profile-photo-img{
    width: 15.625rem;
    height: 15.625rem;
    border-radius: 1000px;
    background-color: white;
    border: 0;
}

.seller-profile .seller-profile-details{
    padding: 1rem 2rem;
}

.seller-profile-card{
    width: 23rem;
    height: 10rem;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid;
    column-gap: 1rem;
    background-color: white;
}

.seller-common-header{
    background: linear-gradient(180deg, #539123 0%, rgba(40, 162, 132, 0.75) 100%);
    position: relative;
    height: 4.5rem;
}

.seller-common-header > div{
    position: absolute;
    top: 1vh;
    right: 4vw;
    display: flex;
    column-gap: 1rem;
}